@import "./css-reset.css";

:root {
  --primary-color: #303846;
  --secondary-color: turquoise;
  --light-color: #fff;
  --gray-color: #f7f7f7;
  --header-height: 70px;
}

.container {
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 65px;
}

.btn {
  padding: 10px;

  font-weight: bold;
  font-size: 100%;
  text-decoration: none;

  border: 1px solid;
  border-radius: 8px;
  cursor: pointer;
}

.btn-default {
  color: var(--light-color);

  background-color: transparent;
  border-color: var(--light-color);
}

.btn-default:hover {
  color: var(--primary-color);

  background-color: var(--light-color);
}

.btn-secondary {
  color: var(--secondary-color);

  background-color: transparent;
  border-color: var(--secondary-color);
}

.btn-secondary:hover {
  color: var(--light-color);

  background-color: var(--secondary-color);
}

.mb-16 {
  margin-bottom: 16px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.mw-130 {
  max-width: 130px;
}

.mw-280 {
  max-width: 280px;
}

.h1 {
  font-size: 2.5rem;
}

.font-weight-bold {
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.list {
  padding-left: 40px;

  list-style: disc;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-primary {
  color: var(--primary-color);
}

.text-white {
  color: var(--light-color);
}

.bg-dark {
  background-color: var(--primary-color);
}

.bg-gray {
  background-color: var(--gray-color);
}

.link {
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.form-group {
  display: flex;
}

.form-label {
  min-width: 200px;

  font-weight: bold;
}

.form-control {
  min-width: 120px;
  padding: 5px;

  border: 1px solid #adacac;
  border-radius: 8px;
}

.title {
  font-weight: bold;
  font-size: 28px;
}

.title-small {
  font-weight: bold;
  font-size: 18px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.media {
  display: flex;
  justify-content: space-around;
}

.media-body {
  flex-basis: 500px;
}

.media-body > * + * {
  margin-top: 20px;
}

.media-img-wrap {
  flex-basis: 330px;
}

.media-img {
  width: 100%;
}

.header-fixed {
  position: fixed;
  top: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: var(--header-height);
  padding: 0 20px;

  background-color: var(--light-color);
}

.vertical-menu > * + * {
  margin-left: 10px;
}

.main {
  margin-top: var(--header-height);
}

.logo {
  display: flex;
  align-items: center;

  font-size: 18px;
}

.logo-img {
  max-height: 40px;
  margin-right: 10px;
}

.top-section-bg {
  background-image: url("../images/banner.png");
  background-position: 30% 65%;
}

.contact-form > * + * {
  margin-top: 20px;
}

.contact-form-legend {
  color: var(--secondary-color);
  font-size: 18px;
}

.contact-form-fieldset {
  padding: 20px;

  border: 2px solid var(--secondary-color);
}

.contact-form-fieldset > .form-group + .form-group {
  margin-top: 10px;
}
