@import "./css-reset.css";

:root {
  --primary-color: #303846;
  --secondary-color: turquoise;
  --light-color: #fff;
  --dark-color: #f7f7f7;
  --header-height: 70px;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-top: 1.5rem;
}

.mr-4 {
  margin-bottom: 1.5rem;
}

.h1 {
  font-size: 2.5rem;
}

.h5 {
  font-size: 1.25rem;
}

.h6 {
  font-size: 1rem;
}

.font-weight-bold {
  font-weight: bold;
}

body {
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.list {
  padding-left: 40px;

  list-style: disc;
}

.container {
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-grow: 1;
  max-width: max-content;
}

.text-primary {
  color: var(--primary-color);
}

.text-white {
  color: var(--light-color);
}

.bg-dark {
  background-color: var(--primary-color);
}

.bg-white {
  background-color: var(--light-color);
}

.section-bg-dark {
  background-color: var(--dark-color);
}

.link {
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.btn {
  min-width: 120px;
  padding: 10px;

  font-weight: bold;
  text-decoration: none;

  border: 1px solid;
  border-radius: 8px;
  cursor: pointer;
}

.btn-default {
  color: var(--light-color);

  background-color: transparent;
  border-color: var(--light-color);
}

.btn-default:hover {
  color: var(--primary-color);

  background-color: var(--light-color);
}

.btn-secondary {
  color: var(--secondary-color);

  background-color: transparent;
  border-color: var(--secondary-color);
}

.btn-secondary:hover {
  color: var(--light-color);

  background-color: var(--secondary-color);
}

.form-group {
  display: flex;
}

.form-label {
  min-width: 200px;

  font-weight: bold;
}

.form-control {
  min-width: 120px;
  padding: 5px;

  border: 1px solid #adacac;
  border-radius: 8px;
}

.title {
  font-weight: bold;
  font-size: 28px;
}

.title-small {
  font-weight: bold;
  font-size: 18px;
}

.section {
  box-sizing: border-box;
  padding-top: 65px;
  padding-bottom: 65px;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.media {
  display: flex;
}

.media-body {
  flex-grow: 1;
}

.header {
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: var(--header-height);
  padding: 0 20px;
}

.menu > * + * {
  margin-left: 10px;
}

.main {
  margin-top: var(--header-height);
}

.logo {
  display: flex;
  align-items: center;

  font-size: 18px;
}

.logo-img {
  max-height: 40px;
  margin-right: 10px;
}

.banner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;

  background-image: url("../images/banner.png");
  background-position: 30% 65%;
}

.banner-img {
  max-height: 130px;
}

.advantages-item {
  max-width: 280px;
}

.about-block {
  padding-right: 65px;
  padding-left: 65px;
}

.about-text {
  max-width: 500px;
}

.about-img {
  max-height: 200px;
}

.places-text {
  max-width: 500px;
  margin-left: auto;
}

.places-img {
  max-height: 200px;
}

.places-block {
  padding-right: 65px;
  padding-left: 65px;
}

.contact-form-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form > * + * {
  margin-top: 20px;
}

.contact-form-legend {
  color: var(--secondary-color);
  font-size: 18px;
}

.contact-form-fieldset {
  padding: 20px;

  border: 2px solid var(--secondary-color);
}

.contact-form-fieldset > .form-group + .form-group {
  margin-top: 10px;
}
