@import "./css-reset.css";

:root {
  --primary-color: #303846;
  --secondary-color: turquoise;
  --light-color: #fff;
  --gray-color: #f7f7f7;
  --header-height: 60px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 3em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5em;

  font-weight: bold;
  font-size: 1.8em;
}

h3 {
  font-weight: bold;
  font-size: 1.2em;
}

.font-weight-bold {
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}

body {
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

p {
  margin-bottom: 20px;
}

main {
  margin-top: var(--header-height);
}

.container {
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 65px;
}

.btn {
  padding: 10px;

  font-weight: bold;
  font-size: 100%;
  text-decoration: none;

  border: 1px solid;
  border-radius: 8px;
  cursor: pointer;
}

.btn-default {
  color: var(--light-color);

  background-color: transparent;
  border-color: var(--light-color);
}

.btn-default:hover {
  color: var(--primary-color);

  background-color: var(--light-color);
}

.btn-secondary {
  color: var(--secondary-color);

  background-color: transparent;
  border-color: var(--secondary-color);
}

.btn-secondary:hover {
  color: var(--light-color);

  background-color: var(--secondary-color);
}

.mb-16 {
  margin-bottom: 16px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.mw-130 {
  max-width: 130px;
}

.mh-210 {
  max-height: 210px;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-basis-280 {
  flex-basis: 280px;
}

.flex-basis-500 {
  flex-basis: 500px;
}

.list {
  padding-left: 40px;

  list-style: disc;
}

.text-primary {
  color: var(--primary-color);
}

.text-white {
  color: var(--light-color);
}

.bg-dark {
  background-color: var(--primary-color);
}

.bg-gray {
  background-color: var(--gray-color);
}

.link {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.form-group {
  display: flex;
}

.form-label {
  flex: 1 1 180px;

  font-weight: bold;
}

.form-control {
  flex: 1 1 200px;
  box-sizing: border-box;
  padding: 5px;

  border: 1px solid #adacac;
  border-radius: 8px;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.contact-form {
  width: 100%;
  max-width: 460px;
}

.contact-form > * + * {
  margin-top: 20px;
}

.contact-form-legend {
  color: var(--secondary-color);
  font-size: 18px;
}

.contact-form-fieldset {
  padding: 20px;

  border: 2px solid var(--secondary-color);
}

.contact-form-fieldset > .form-group + .form-group {
  margin-top: 10px;
}

.header-fixed {
  position: fixed;
  top: 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: var(--header-height);
  padding: 5px 20px;

  background-color: var(--light-color);
}

.horizontal-menu > * + * {
  margin-left: 10px;
}

.logo {
  display: flex;
  align-items: center;

  font-size: 18px;
}

.logo-img {
  max-height: 40px;
  margin-right: 10px;
}

.moon-bg {
  background-image: url("../images/banner.png");
  background-position: 30% 65%;
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 2.2em;
  }

  :root {
    --header-height: 100px;
  }

  .header-fixed {
    position: absolute;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .form-control {
    flex-basis: 110px;
  }

  html {
    scroll-padding-top: 0;
  }
}
